@CHARSET "ISO-8859-1";

body, 
.menu,
.sub-menu{
	margin: 0;
	padding: 0;
}

.clearfix:after{
	content: '.';
	display: block;
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
	visibility: hidden;
	overflow: hidden;
}

.menu, 
.sub-menu{
	list-syle: none;
	background: #000;
}

.sub-menu{
	background: #444;
}

.menu a{
	text-decoration: none;
	display: block;
	padding: 13px;
	color: #FFF;
	font-family: sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
}

.menu li{
	position: relative;
	list-syle: none;
}

.menu > li{
	float: left;
}

.menu > li:hover{
	background: #444;
}

.menu > li:hover > .sub-menu{
	display:block;
}


.sub-menu{
	display:none;
	position: absolute;
	min-width:150px;
}

.sub-menu li{
	list-style: none;
}

.sub-menu li:hover{
	background: #555;
	list-syle: none;
}

